################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/release
/debug
/clipboard/x64
/.vs/clipboard
/.qmake.stash
/clipboard.qtvscr
/clipboard_resource.aps
/clipboard_resource.rc
/ui_mainwindow.h
/.vs
# Ignore debug, build, release, and x64 directories
debug/
build/
release/
x64/

# Ignore specific project files
clipboard.vcxproj
clipboard.vcxproj.filters
clipboard.vcxproj.user
clipboard.qtvscr
clipboard.v12.suo

