################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/release
/debug
/clipboard/x64
/.vs/clipboard
/.qmake.stash
/clipboard.qtvscr
/clipboard_resource.aps
/clipboard_resource.rc
/ui_mainwindow.h
/.vs
/clipboard.vcxproj.user
